.main_heading{
  margin: 0;
  padding: 0.8rem;
  background-color: $color-primary;
  color: $color-white;
  font-size: 1.6rem;
}

.wall{
  margin-top: 4rem;
  display: flex;
}

.galleryContainer{
  width: 60%;
}

.addPostContainer{
  width: 40%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

}
  
@media only screen and (max-width: 1191px) {

  .wall{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .galleryContainer{
    width: 90%;
  }
  .addPostContainer{
    width: 90%;
  }

}
  