
.addComment{

    display: flex;
    background-color: $color-white;
    border-radius: 0.8rem;
    width: 94%;
    padding: 1.5rem;
    margin-top: 0.8rem;
    margin-left: 3.2rem;

    &-left{
        display: flex;
        width: 85%;
    }

    &-image{
        border-radius: 100%;
        width: 2.4rem;
        height: 2.4rem;
        position: relative;
        margin-right: 0.8rem;
    }
    
    &-textarea{
        margin-top: 0;
        width: 100%;
    }

    &-button{
        width: 15%
    }
}

.addReply{
    margin-top: 0.8rem;
    width: 100%;
    margin-left: 0;
}


@media only screen and (max-width: 855px) {
    .addComment{
        flex-direction: column;
        width: 100%;
        margin-left: 0;
        &-left{
            width: 100%;
            margin-bottom: 0.4rem;
        }
        &-image{
            position: absolute;
        }
        &-textarea{
            flex-grow: 100;
            margin-left: 3.2rem;
        }
        &-button{
            width: 100%;
            display: flex;
            justify-content: end;
        }
    }


}