.comment{
    margin-top: 2rem;
    width: 100%;
}

.comment:first-child{
    margin-top: 0.8rem;
}

.nestedComments{
    margin-left: 5%;
    padding-left: 5%;
    width: 95%;
    border-left: solid;
    border-width: 0.2rem;
    border-color: $color-gray--dark;
    margin-top: 2rem;
    & > *:first-child{
        margin-top: 0;
    }
}

.showHideCommentsButton{
    margin-top: 0.8rem;
    width: 100%;
    cursor: pointer;
}

.noComments{
    color: $color-gray;
    text-align: left;
}

