.userComment{

    display: flex;
    width: 100%;
    background-color: $color-white;
    border-radius: 0.8rem;
    padding: 1.5rem;
    
    &Right{
        width: 94%;
        &Top{
            display: flex;
            justify-content: space-between;
            width: 100%;
            margin-bottom: 0.4rem;
            &-details{
                display: flex;
            }
            
            &-p{
                margin: 0 0.4rem 0 0;
            }
        }
    }

    &-image{
        border-radius: 100%;
        width: 2.4rem;
        height: 2.4rem;
        position: relative;
        margin-right: 0.4rem;
    }
    &Update{
        width: 100%;
        &-button{
            background-color: $color-primary !important;
            color: $color-white;
            transition-duration: 500ms;
            border-radius: 0.4rem;
            padding: 0.8rem;
            float: right;
            &:hover{
                background-color: $color-primary--light !important;
            }
        }
    }
}

.youdiv{
    background-color: $color-primary;
    color: $color-white;
    margin-right: 0.4rem;
    padding: 0 0.4rem;
    height: 1.4rem;
}

.showHideRepliesButton{
    background: transparent;
    align-self: flex-start;
    padding-left: 0;
    border-left: 0;
}

@media only screen and (max-width: 855px) {

    .userComment{
        flex-direction: column-reverse;
        position: relative;
        &Right{
            width: 100%;
        }
    }

}