.upvotedownvote{

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $color-primary--light2;
    margin-right: 0.8rem;
    padding: 0.2rem;
    border-radius: 0.8rem;
    height: 5.2rem;
    width: 2.4rem;

    &-button{
        background: transparent;
        color: $color-primary--light;
        font-size: 1.2rem;
        margin-top: 0;
        transition-duration: 300ms;
        &:hover{
            color: $color-primary;
        }
    }
    
    &-span{
        color: $color-primary;
    }
}

@media only screen and (max-width: 855px) {
    .upvotedownvote{
        flex-direction: row;
        margin-top: 0.8rem;
        height: auto;
        width: 4.4rem;
    }
}