*{
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Rubik', sans-serif;
  background-color: #f8f9fa;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input, textarea{
  margin-top: 0.8rem;
  padding: 0.8rem;
  border: solid;
  border-color: rgba(128, 128, 128, 0.198);
  border-radius: 0.4rem;
}

textarea::placeholder{
  font-family: 'Roboto', sans-serif;
}

a{
  text-decoration: none;
}

.error {
  color: rgba(255, 0, 0, 1);
  margin: 0.4rem 0;
  font-size: 1rem;
}

.p--gray{
  color: gray;
}

.makeWhite {
  background-color: white;
  padding: 1.4rem;
  border-radius: 2%;
}





