
// colors 

$color-primary:rgba(75, 86, 210, 0.8);
$color-primary--light:rgba(75, 86, 210, 0.3);
$color-primary--light2:rgba(75, 86, 210, 0.1);
$color-gray:gray;
$color-gray--dark:rgba(128, 128, 128, 0.167);
$color-white:white;
$color-red:red;
$color-red--light:rgba(255, 0, 0, 0.3);
$color-background:#f8f9fa;