.addReply{
margin-top: 0.8rem;
}

.addComment{
    display: flex;
    background-color: white;
    border-radius: 0.8rem;
    width: 100%;
    padding: 2rem;
    margin-top: 2rem;
}

.addCommentLeft{
    width: 85%;
}

.addCommentRight{
    width: 15%;
    text-align: center;
}

.addCommentLeft-input{
    width: 100%;
}

.addCommentLeft-textarea{
    width: 100% !important;
}

@media only screen and (max-width: 855px) {
    .addComment{
        flex-direction: column;
    }

    .addCommentLeft{
        width: 100%;
    }
    
    .addCommentRight{
        width: 100%;
        text-align: right;
    }

}