.addPost{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.8rem;
    background-color: white;
    padding: 1rem;
    border-radius: 0.8rem;
}
  
.addPost-h2{
    margin-top: 0;
    font-size: 1.4rem;
}

.addPost-input{
    width: 90%;
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 1191px) {
    .addPost{
        width: 80%;
        margin-top: 0.8rem;
    }
}

@media only screen and (max-width: 855px) {
    .addPost{
        width: 90%;
    }
}