.gallery{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.galleryPostDetails{
    width: 70%;
    border-radius: 2%;
    margin-bottom: 0.8rem;
    cursor: pointer;
    transition-duration: 300ms;
}

@media only screen and (max-width: 1191px) {
    .galleryPostDetails{
        width: 80%;
    }
}

@media only screen and (max-width: 855px) {
    .galleryPostDetails{
        width: 90%;
    }
}