.post{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    margin: auto;
}

.postDetails{
    width: 100%;
}

.postDetails-top{
    display: flex;
}

.postDetails-userImage{
    border-radius: 100%;
    width: 3rem;
    height: 3rem;
    margin-right: 0.4rem;
}

.postDetails-user{
    margin-top: 0.3rem
}

.postDetails-userName{
    margin: 0;
    font-weight: bold;
}

.postDetails-userID{
    margin: 0;
}

.postDetails-postImage{
    height: 400px;
    width: 100%;
    border-radius: 2%;
    margin-bottom: 0.8rem;
}

@media only screen and (max-width: 1191px) {
    .post{
        width: 80%;
    }

}

@media only screen and (max-width: 855px) {
    .post{
        width: 90%;
    }
}